@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  
  --font-display: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Sidebar gradient for auth pages */
.sidebar-gradient {
  background: linear-gradient(135deg, #137fec 0%, #6d28d9 100%);
}


